<div class="app-banner">
  <div class="container app-chat">
    <div class="d-flex justify-content-center align-items-center">
    <div class="col-9">
      <input class="form-control text-center" type="text" id="chat-box" placeholder="Say something" />
    </div>
    </div>
    <div class="app-chat__messages" id="messages-box">
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>