<div class="login-body">
  <div class="form-signin w-100 m-auto card card-box">

    <h1 class="h3 mb-3 fw-normal">Welcome</h1>

    <form id="login-form">

      <div class="form-floating mb-2">
        <input
          name="email"
          type="email"
          class="form-control"
          placeholder="Email Address"
          required
        />
        <label for="floatingInput">Email Address</label>
      </div>

      <div class="form-floating">
        <input
          name="password"
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-50 mt-3 btn btn-sm btn-primary" type="submit">Log in</button>

    </form>

    <div class="mt-2">
      <a href="/register" class="p-footer">Sing in</a>
    </div>

    <h1 class="h6 mt-4 fw-normal">Or login with</h1>

    <div>
      <a
        href="/api/sessions/github"
        role="button"
        class="w-10 btn btn-sm btn-secondary"
      >Github</a>
    </div>

    <div class="d-flex flex-row-reverse mt-5">
      <a href="/recoverPassword" class="p-footer">Forgot your password?</a>
    </div>

  </div>

</div>

<script src="/static/js/logs.js"></script>