<div>
  <div class="form-signin w-100 m-auto card card-box">

    <h1 class="h3 mb-3 fw-normal">Create new password</h1>

    <form id="newPass">

      <div class="form-floating">
        <input
          name="password"
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <label for="floatingPassword">New password</label>
      </div>

      <button class="w-50 mt-3 btn btn-sm btn-primary" type="submit">Confirm
        password</button>

    </form>

    <div class="mt-2">
      <a href="/" class="p-footer">Log in</a>
    </div>

  </div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/newPassword.js"></script>