<div>
  <div class="form-signin w-100 m-auto card card-box">

    <h1 class="h3 mb-3 fw-normal">Recover password</h1>

    <form action="api/users/resetPassword" method="post">

      <div class="form-floating mb-2">
        <input
          name="email"
          type="email"
          class="form-control"
          placeholder="Email Address"
          required
        />
        <label for="floatingInput">Email Address</label>
      </div>

      <button class="w-50 mt-3 btn btn-sm btn-primary" type="submit">Send email</button>

    </form>

    <div class="mt-2">
      <a href="/" class="p-footer">Log in</a>
    </div>

  </div>

</div>