<div class="login-body">
    <div class="form-signin w-100 m-auto card card-box">
        
            <h1 class="h3 mb-3 fw-normal">Sign in</h1>
            <h6 class="mt-1 mb-4">Please, complete the following fields</h6>

            <form id="register-form">
            
            <div class="form-floating mb-2">
                <input name="first_name" type="text" class="form-control"  placeholder="First Name" required>
                <label for="first_name">First Name</label>
            </div>
            
            <div class="form-floating mb-2">
                <input name="last_name" type="text" class="form-control" placeholder="Last Name" required>
                <label for="last_name">Last Name</label>
            </div>
            
            <div class="form-floating mb-2">
                <input name="age" type="number" class="form-control" placeholder="Age" required>
                <label for="floatingAge">Age</label>
            </div>
           
            <div class="form-floating mb-2">
                <input name="email" type="email" class="form-control" placeholder="Email Address" required>
                <label for="email">Email Address</label>
            </div>
            
            <div class="form-floating">
                <input name="password" type="password" class="form-control" placeholder="Password"
                    required>
                <label for="password">Password</label>
            </div>

            <button class="w-50 mt-3 btn btn-sm btn-primary" type="submit">Submit</button>
            
            </form>
            
            <div class="mt-2">
                <a href="/" class="p-footer">Already have an account? Log in here</a>
            </div>
            
            <h1 class="h6 mt-4 fw-normal">Or register with</h1>

            <div>
                <a href="/api/sessions/github" role="button" class="w-10 btn btn-sm btn-secondary">Github</a>
            </div>
            
    </div>

</div>

<script src="/static/js/logs.js"></script>